<div class=" p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/x-circle -->
        
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-200">verifier les champs suivants :</h3>
        <div class="mt-2 text-sm   text-red-200">
          <ul role="list" class="list-disc pl-5 grid grid-cols-2  space-y-1">
            <li class="col-span-1"*ngFor="let i of  result">{{i}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  