<div class="  flex justify-center gap-24 mt-24  center ">
    <a  routerLink="../creeNewUtilisateur" class=" dark:bg-slate-700 dark:text-slate-300 dark:hover:bg-slate-600 grid-cols-1 pt-24 rounded-md hover:bg-cyan-200 cursor-pointer transition-all group hover: shadow-md text-center bg-gray-50 h-64 w-64">
        <div class="block "><mat-icon class="text-xl font-medium">create</mat-icon></div>
        <p class=" font-medium  text-xl ">create new user </p>
    </a>

    <a    routerLink="../creeUtilisateur" class="dark:bg-slate-700 dark:text-slate-300 dark:hover:bg-slate-600 grid-cols-1 pt-24 rounded-md hover:bg-red-200 cursor-pointer transition-all group hover: shadow-md text-center bg-gray-50 h-64 w-64">
        <div class="block "><mat-icon class="text-xl font-medium">send</mat-icon></div>
        <p class=" font-medium  text-xl ">Existing  account  </p>
    </a>

</div>