<form [formGroup]="RoleForm" (ngSubmit)="addnewRole()" >
    <div class="space-y-2 px-6">
      <h2 class="text-xl pt-2 font-medium leading-6 dark:text-slate-300 text-gray-900">Ajouter un Rôle</h2>
      <div class=" pb-4 ">
        <div class="mt-4 grid grid-cols-1 lg:grid-cols-2 p-8 gap-x-6 gap-y-4 ">
            <div class="sm:col-span-1" >
                <label for="nomRole" class="block dark:text-slate-300 text-sm font-medium leading-6 text-gray-900">NomRôle</label>
                <div class="mt-2">
                  <input id="nomRole" formControlName="nomRole"  [ngClass]="{ 'is-invalid': RoleForm.get('nomRole')?.touched && RoleForm.get('nomRole')?.invalid }"  name="nomRole" autocomplete="role" class="block min-w-full  dark:text-white dark:bg-slate-600 dark:focus:ring-slate-400  rounded-md border-0 py-2  text-gray-900 shadow-sm ring-1 px-3 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:outline-none focus:border-transparent border-transparent focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                </div>
                <div *ngIf="RoleForm.get('nomRole')?.touched && RoleForm.get('nomRole')?.invalid" class="error-message">
                  <span class="text-red-700" *ngIf="RoleForm.get('nomRole')?.errors?.['required']">NomRôle est Obligatoire.</span>
                </div>
            </div> 
           
    
            <div class="grid  grid-cols-1 dark:bg-slate-700  rounded-md shadow-md p-6 "> 
              <h1>Sélectionner Permissions</h1>
              <mat-checkbox color='primary' class="border-slate-100 ng-noborder" *ngFor="let element of inputs" formControlName="{{element.name}}"> <span class="dark:text-slate-300">{{element.name}}</span></mat-checkbox>
              <button type="submit"  class="rounded-md mt-4  dark:bg-slate-600 transition-all dark:hover:bg-slate-500 bg-cyan-600 px-3 py-2 text-sm font-medium text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">jouter permission</button>
            </div>

        </div>
      </div>
    </div>
   
  </form>