
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
 
    <div class="fixed inset-0  bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.
  
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="dark:bg-slate-600 dark:text-slate-300  relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 sm:mx-0 sm:h-10 sm:w-10">
                <mat-icon class="text-indigo-600">send</mat-icon>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Envoyer une invitation</h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">Ete vous sur . vous voulez envoyez cette invitation?</p>
                  <div class="grid grid-cols-1 gap-y-4  mt-6">
                    <div class="grid grid-cols-2 gap-x-7">
                        <p class="grid-span-1 ">Nom&Prenom</p>
                        <p class="grid-span-1 text-gray-500">{{data.name}}</p>
                    </div>
                    <div class="grid grid-cols-2 gap-x-7">
                        <p class="grid-span-1">Email</p>
                        <p class="grid-span-1 text-gray-500">{{data.Email}}</p>
                    </div>
                    <div class="grid grid-cols-2 gap-x-7">
                        <p class="grid-span-1">Categorie</p>
                        <p class="grid-span-1 text-gray-500">{{data.categorie}}</p>
                    </div>
                    <div class="grid grid-cols-2 gap-x-7">
                        <p class="grid-span-1">Privilege</p>
                        <p class="grid-span-1 text-gray-500">{{data.role}}</p>
                    </div>  

                </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" (click)="onYesClick()"  class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 sm:ml-3 sm:w-auto">Générer l'invitation</button>
            <button type="button" (click)="onNoClick()" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>