
<div class="min-h-full bg-cyan-700 flex flex-col justify-center sm:px-6 lg:px-8">
   
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white dark:bg-slate-700 py-8 px-4 shadow sm:rounded-lg sm:px-10">
         <div class="sm:mx-auto sm:w-full sm:max-w-md">
         </div>
       
        <form class="space-y-6" [formGroup]="userFormGroup" (ngSubmit)="reset()">
            <div>
                <label for="email" class="block text-sm font-medium  text-gray-700">  Addresse Email </label>
                <div class="mt-1">
                  <input id="email" formControlName="email"  name="email" type="email" autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700"> Nouveau mot de passe </label>
                <div class="mt-1">
                  <input id="password" formControlName="Confirmpassword1" name="password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700"> Confirmer mot de passe </label>
                <div class="mt-1">
                <input id="password" formControlName="Confirmpassword" name="password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
            </div>
  
  
          <div>
            <button  [disabled]="userFormGroup.invalid" type="submit" class="btn text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-cyan-500">Réinitialiser</button>
          </div>
        </form>
  
      
      </div>
    </div>
  </div>
