
<div class=" flex  justify-between mt-16  text-center text-sm ">
  <h2 class="px-4">Listes des demandes</h2>
  <button (click)="Redirect()" class=" bg-cyan-700 text-white  notSelected transition duration-300  ease-in-out  my-1 mx-4  px-4  col-span-1">Créer une nouvelle demande</button>
</div>
<div class="">
   
    <table mat-table class="dark:bg-slate-800 "   [dataSource]="dataSource">
  
      <!-- Position Column -->
      
  
      <!-- Name Column -->

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef class=" dark:text-slate-300"> Date de la demande </th>
        <td mat-cell *matCellDef="let element" class=" dark:text-slate-300 "> {{element?.date | date:'mediumDate'}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef class=" dark:text-slate-300"> Besoin de jetons </th>
        <td mat-cell *matCellDef="let element" class=" dark:text-slate-300  "> <span class="">{{element?.amount }}</span> Jetons</td>
      </ng-container>
      <ng-container matColumnDef="form">
        <th mat-header-cell *matHeaderCellDef class=" dark:text-slate-300"> Form </th>
        <td mat-cell *matCellDef="let element" class=" dark:text-slate-300"> pdf </td>
      </ng-container>
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef class=" dark:text-slate-300 "> Etat </th>
        <td mat-cell *matCellDef="let element" class=" dark:text-slate-300">         
            <span *ngIf="element.etat =='valid' " class="inline-flex dark:bg-slate-300 dark:text-slate-500 items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">Validé</span>
            <span *ngIf="element.etat =='encours'" class="inline-flex dark:bg-slate-300 dark:text-slate-500 items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">Encours</span>
            <span *ngIf="element.etat =='rejected'" class="inline-flex dark:bg-slate-300 dark:text-slate-500 items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">Rejeté</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="besoindargent">
        <th mat-header-cell *matHeaderCellDef class=" dark:text-slate-300"> Besoin d'argent</th>
        <td mat-cell *matCellDef="let element" class=" dark:text-slate-300"> <span class="">{{element?.amount}}</span> DT </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator 
        #paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        class=" dark:text-slate-300 dark:bg-slate-700">
    </mat-paginator>
  </div>